.App {
  font-family: sans-serif;
  text-align: center;
}
.df {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.ink {
  text-decoration: none;
  color: white;
}
